{% extends 'base.html' %}

{% block content %}
    <!-- Contact Us Start -->
    <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="bg-light rounded p-5">
                    <div class="row g-4">
                        <div class="col-lg-5">
                            <div class="">
                                <h1 class="mb-4">Umumiy mijozlarga xizmat ko‘rsatish va texnik qo‘llab-quvvatlash</h1>
                                <p class="mb-4">Aloqa formasi hozircha faol emas. Ajax va PHP yordamida ishlaydigan to‘liq funksional aloqa formasini bir necha daqiqada yaratishingiz mumkin. Shunchaki fayllarni nusxalab joylashtiring, biroz kod qo‘shing — va tamom! <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                                <div class="rounded">
                                    <iframe class="rounded w-100"
                                            style="height: 425px;"
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.781910875489!2d71.77984667582557!3d40.38321597144508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb83d394a3a5c9%3A0xaa21a6bf41cf03e!2sCodial%20ta'lim%20markazi!5e1!3m2!1sru!2s!4v1777354537251!5m2!1sru!2s"
                                            loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <form action="{% url 'contact-us' %}" method="post" class="mb-4">
                                {% csrf_token %}
                                <div class="row g-4">
                                    <div class="col-lg-6">
                                        <input type="text" class="w-100 form-control border-0 py-3" name="name" placeholder="Ism ..">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="email" class="w-100 form-control border-0 py-3" name="email" placeholder="Email ..">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="w-100 form-control border-0 py-3" name="phone" placeholder="Telefon raqam ..">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="w-100 form-control border-0 py-3" name="subject" placeholder="Mavzu ..">
                                    </div>
                                    <div class="col-12">
                                        <textarea class="w-100 form-control border-0" name="message" rows="6" cols="10" placeholder="Xabaringiz .."></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="w-100 btn btn-primary form-control py-3" type="submit">Yuborish</button>
                                    </div>
                                </div>
                            </form>
                            <div class="row g-4">
                                <div class="col-xl-6">
                                    <div class="d-flex p-4 rounded bg-white">
                                        <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                                        <div>
                                            <h4>Manzil</h4>
                                            <p class="mb-0">Sayilgoh ko'chasi 22, Fer.Uzb</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="d-flex p-4 rounded bg-white">
                                        <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                                        <div>
                                            <h4>Bizga xat yuboring</h4>
                                            <p class="mb-0">mganijonova861@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="d-flex p-4 rounded bg-white">
                                        <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                                        <div>
                                            <h4>Telefon raqam</h4>
                                            <p class="mb-0">(+998) 90-585-15-08</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="d-flex p-4 rounded bg-white">
                                        <i class="fa fa-share-alt fa-2x text-primary me-4"></i>
                                        <div>
                                            <h4>Ulashish</h4>
                                            <div class="d-flex">
                                                <a class="me-3" href=""><i class="fab fa-twitter text-dark link-hover"></i></a>
                                                <a class="me-3" href=""><i class="fab fa-facebook-f text-dark link-hover"></i></a>
                                                <a class="me-3" href=""><i class="fab fa-youtube text-dark link-hover"></i></a>
                                                <a class="" href=""><i class="fab fa-linkedin-in text-dark link-hover"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Contact Us End -->
{% endblock %}